*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}

body{
    width: 100vw;
    height: 100vh;
    /* overflow-x: hidden; */
    align-content: center;
    font-family:monospace;
    /* background-color: #dfdaed → #faaca8; */
   
}

/* navbar */
#navbar {
    width: 100vw;
    height: 10vh;
    background-color: rgb(133, 2, 255);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 3rem;
    padding: 2rem;
}

nav a.active{
    text-decoration: dotted;
    transform: scale(1.1);
    transition: all 0.4s ease-in-out 1ms;
}
.nav-text{
    /* margin-right: 2rem; */
    color: #fff;
    font-size:1.3rem;
    text-decoration: none;
}

/* homepage */

#home{
    background-color: #fff;
    width: 100vw;
    height: 85vh;  
}

#home-cont{
    width: 70vw;
    display: flex;
    flex-direction: column;
    padding-left: 5.8rem;
    padding-top: 3rem;
    /* text-align: center; */
    align-items: center;
}

span.index-module_type__E-SaG {
    font-size: 2.5rem;
}

#image-cont{
    width: 30vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.img-job{
    width: auto;
    height:42vh;
    margin-left: 4rem;
}

#img-gotajob{
    margin-left: 15rem;
}

#home-para{
    font-size:x-large;
    font-weight: lighter;
    margin-bottom: 2rem;   
}

#home-head{
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
}

#icon-study{
    width: 20rem;
    height: auto;
}

#homeGrid{
    display: flex;
    flex-direction: row;
}

#home-btn{
    width: 20rem;
    height: 4rem;
    background-color: blue;
    color: white;
    border-radius:1rem;
    font-weight: 700;
    font-size:large;
}





/* 
#form,#locationForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
} */


#form-component{
display: flex;
}

#heading{
    text-align: center;
    margin-top: 2rem;
    text-decoration-line: underline;
}
#img {
    width: 10rem;
    height: 10rem;
    margin-right: 0.5rem;
    /* border-radius: 50%; */
}

/* .containerName{
    display: flex;
} */

#abc {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    margin-top: 2rem;
}

#logoHeading{
    display: flex;
    gap: 1rem;
}

#add-image{
    /* background-color: aqua; */
    text-align: center;
    height: 2.5rem;
    border-radius: 0.2rem;
    margin-top: 0.2rem;
}
#add-image, .inputs {
    width: 82rem;
    
}

span{
    margin: 0.02rem;
}

.input{
    width: 92rem;
}
.small-input{
    width: 43rem;
}

#btn{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 100rem;
}

#button:hover{
    box-shadow: 0 0 0.2rem 0.2rem rgb(213, 179, 240);
}

#button{
    background-color: blue;
    font-weight: bolder;
    font-size: medium;
    color: antiquewhite;
    width: 11.5vw;
    height: 5vh;
    border-radius: 1rem; 
}

.btn-cont{
    display: flex;
    justify-content: center;
}

#form1,.form2,#form3,#form4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
}


/* preview css */

.previewContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
#preview-comp{
    margin-left: 2rem;
    width:380px;
    height:580px;
    margin-top: 1.6rem;
    /* margin: 1.56rem; */
    padding: 0.4rem;
    border: 2px solid black;
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem 0.5rem rgb(159, 155, 155);
}

#img-preview{
    width: 5rem;
    height: 5rem;
    margin-right: 0.5rem;
    border-radius: 70%;
    
    
}


.name-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -1rem;
}
.contacts-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 0.5rem 0;
    height: auto;
}
.add-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: -0.5rem 0;
}

.exp-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0.1rem;
    
}

.exp,.edu{
    display: flex;
    gap: 1rem;
}

#exp-heading,#edu-heading,#skills-heading{
    display: flex;
    justify-content: flex-start;
    font-weight:900;
    font-size:small;
    color: white ;
 background-color:blue;
    border-radius: 1rem;
    padding: 0.1rem 0.2rem;
    margin: 0.3rem 0;
}

#work-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.edu-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.2rem 0;
    
}
#summ-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:1rem 0;
}

.skills-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#list{
    display: flex;
    gap: 1rem;
    
}
#list-items{
    /* display: flex; */
    background-color: rgb(255, 255, 3);
    padding: 0 0.4rem;
    border-radius: 0.3rem;
    margin-top: 0.5rem;
    font-weight: bold;
}

#name{
    font-size:medium;
    font-weight: bolder;
}

.light-text{
    font-weight:300;
    font-size:x-small;
}
.lighter-text{
    font-weight:200;
    font-size:x-small;;
}
.bold-text{
    font-weight:500;
    font-size:x-small;;
}

/* about us */

#about {
    width: 100vw;
    height: 90vh;
}

#aboutUs{
    padding: 0 3rem;
    padding-top: 2rem;
}

.about-desc{
    font-size: large;
    color: rgb(65, 153, 230);
    margin-bottom: 1.2rem;
    list-style: none;
}

.about-head{
    margin: 1.5rem 0;
    color: ;
}

/* footer */
.footer-cont{
    width: 100vw;
    height: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}






@media screen and (max-width: 480px) {
    #homeGrid {
        display: flex;
        flex-direction: column;
    }
    #home-cont {
        width: 100vw;
        height: auto;
        padding: 1rem;
    }
    #home-para {
        font-size: larger;
    }
    .image-cont{
        width: 100vw;
        height: 30vh;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }
    #navbar {
        height: 3.2rem;
        gap: 1.7rem;
        justify-content: center;
        align-items: center;
        padding-bottom: 1.5rem;
       
    }
    #icon-study {
        width: 14rem;
        height: auto;
    }
    .img-job {
    width: 51vw;
    height: auto;
    margin: 0;
    }
    #img-gotajob {
        margin-left: 0;
    }
        
    .nav-text {
        margin-right: 0;
        font-size:1rem;
    } 
    
    #home-btn {
        width: 19rem;
        height: 3.4rem;
    } 
    span.index-module_type__E-SaG {
        font-size: 1.2rem;
    }
    .footer-cont{
        gap: 5rem;
        margin-top: 1rem;
    }
    #button{
        width: 7rem;
    }
    fieldset,input.MuiOutlinedInput-input{
        width: 90vw;
        height: auto;
        margin: 0;
    }
    #form{
        width: 100vw;
        height: auto;
        margin: 0;
    }
    #heading{
        margin-bottom: 2rem;
    }
    .previewContainer{
        width: 92vw;
        margin-bottom: 2rem;
    }
    body{
        overflow-x: hidden;
        height: auto;
    }

    #abc{
        margin: 0;
    }
    #img {
        width: 10rem;
        height: auto;
        margin-right: 0.5rem;
        /* border-radius: 50%; */
    }
    aboutUs{
        padding: 1rem;
    }
  }